{% extends "layouts/module_admin.html" %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="Storage">{{ _('Storage')}}</a></li>
{% endblock %}
{% block module %}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <i class="fas fa-folder-tree mt-2 me-3"></i>
        {% for url, name in breadcrumbs %}
        <li class="breadcrumb-item"><a href="?path={{ url }}">{{ name }}</a></li>
        {% endfor %}
    </ol>
</nav>

{%if current_path%}
<form method="POST" action="?op=create_dir">
    <input type="hidden" name="current_path" value="{{ current_path }}">
    <label class="col-lg-7 control-label">{{ _('Create directory')}}</label>
    <div class="d-flex">
        <div class="col-lg-3"><input class="form-control" type="text" name="new_dir" placeholder="{{ _('New directory name')}}"
                required></div>
        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-folder-plus me-2"></i>{{ _('Create')}}</button>
    </div>
</form>

<form method="POST" action="?op=upload" enctype="multipart/form-data">
    <input type="hidden" name="current_path" value="{{ current_path }}">
    <label class="col-lg-7 control-label">{{ _('Upload file')}}</label>
    <div class="d-flex">
        <div class="col-lg-3"><input class="form-control" type="file" name="file" class="input"></div>
        <button type="submit" class="btn btn-success"><i class="fa-solid fa-file-arrow-up me-2"></i>{{ _('Upload')}}</button>
    </div>
</form>
{%endif%}

<table class="table">
    <thead>
        <tr>
            <th>{{ _('Item')}}</th>
            <th>{{ _('Size')}}</th>
            <th>{{ _('Date')}}</th>
            <th>{{ _('Actions')}}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>
                {% if item.is_dir %}
                <i class="fa-regular fa-folder me-2" style="font-size: 30px;"></i>
                <a href="?path={{ item.path }}">{{ item.name }}</a>
                {% else %}
                {% if item.is_pic %}
                <img src="/files/{{item.path}}" width="30" height="30" />
                {% else %}
                <i class="fa-regular fa-file me-2" style="font-size: 30px;"></i>
                {%endif%}
                <a href="/files/{{ item.path }}">{{ item.name }}</a>
                {% endif %}
            </td>
            <td> {{item.size}} </td>
            <td> {{item.dt}} </td>
            <td>
                {%if current_path%}
                {% if item.is_dir %}
                <form method="POST" action="?op=delete_dir" style="display:inline;">
                    <input type="hidden" name="dir_to_delete" value="{{ item.name }}">
                    <input type="hidden" name="current_path" value="{{ current_path }}">
                    <button type="submit" class="btn btn-danger"><i class="fa-solid fa-folder-minus me-2"></i>{{ _('Delete')}}</button>
                </form>
                {%else%}
                <form method="POST" action="?op=delete_file" style="display:inline;">
                    <input type="hidden" name="file_to_delete" value="{{ item.name }}">
                    <input type="hidden" name="current_path" value="{{ current_path }}">
                    <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash me-2"></i>{{ _('Delete')}}</button>
                </form>
                {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}